# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="file:./dev.db"
TEMPORARY_PASS="admin123"
# get random with OPENSSL
NEXTAUTH_SECRET="EzmPx3pVjpdn8/ugLNTOcA=="
NEXTAUTH_URL="http://localhost:3000"
ACCESS_TOKEN=next-auth.session-token
NEXT_PUBLIC_DOMAIN=localhost
NEXT_PUBLIC_URL="http://localhost:3000"
NEXT_PUBLIC_SITENAME="NEXTJS COMPOSE"
NEXT_PUBLIC_TITLE="NEXTJS COMPOSE"
NEXT_PUBLIC_BANNER="./next.svg"
NEXT_PUBLIC_AUTHOR="@riandoza"
NEXT_PUBLIC_EXCERPT="NEXTJS 14 With Docker Compose"
SCROLLING_PER_PAGE=16
